<div id="<%= dom_id medicine %>">
  <p>
    <strong>Number medicines:</strong>
    <%= medicine.number_medicines %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medicine.description %>
  </p>

  <p>
    <strong>Initial stock:</strong>
    <%= medicine.initial_stock %>
  </p>

  <p>
    <strong>Final stock:</strong>
    <%= medicine.final_stock %>
  </p>

  <p>
    <strong>Initial price:</strong>
    <%= medicine.initial_price %>
  </p>

  <p>
    <strong>Final price:</strong>
    <%= medicine.final_price %>
  </p>

</div>
